# 제가 올린 코드는 제가 실패했던 코드들입니다.
도무지 푸는 방법을 모르겠어서 1차적으로 승현님 코드 보고 이해했습니다ㅠㅠㅠㅠ

In [ ]:
n=[1,2,3,4,5,6,7,8,9]
while len(n)!=1:
    count=0
    for i in n:
        if(count%2)==0:
          n.pop(0)

        else:
          n.pop(0)
          n.append(n)
        count+=1
print(n)

In [2]:
n=[1,2,3,4,5,6,7,8,9]
num=[]
while ((len(n)==1) & (len(num)==1)):
  for ind, nu in enumerate(n):
    if(ind%2)==0:
      n.pop(0)
    else:
      n.pop(0)
      num.append(nu)
  for ind, nu in enumerate(num):
    if(ind%2)==0:
      num.pop(0)
    else:
      num.pop(0)
      n.append(nu)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9]